body {
    font-family: "Arvo", sans-serif;
    color: white;
    background-image: linear-gradient(#333333, #000000);
    max-height: fit-content;
}

body h1 {
    color: white;
    margin-left: auto !important;
    margin-right: auto !important;
    font-style: normal;
    font-weight: normal;
    text-align: left;
}

body h2 {
    color: white;
    text-align: center;    
}

body h3 {
    color: white;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    padding-bottom: 0px;
}

body h4 {
    color: white;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    padding-bottom: 0px;
}

a {
    text-align: justify;
    max-width: 50%;
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 20px;
}

a:link {
    color: orange;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: orange;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: goldenrod;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
}

a:active {
    color: orange;
    background-color: transparent;
    text-decoration: underline;
}

p {
    color: white;

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;

    color: white;
    font-size: 18px;
}

ul {
    color: white;
    margin-bottom: 0px;
    line-height: 150%;
    text-align: left;
    font-size: 18px;
}

ol {
    color: white;
    margin-bottom: 5px;
    text-align: left;
    font-size: 18px;
}

hr {
    /*style="width:95%;height:2px;text-align:center;margin-left:0;color:white;"*/

    width: 95%;
    text-align: center;
    margin: left 0;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
}

/*Classes*/

.main-container {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-align: center;
    width: 965px;
}

.header {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    width: 965px;
}

.footer {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    width: 965px;
}

.banner {
    margin: 0 auto;
    text-align: center;
    width: 965px;
}

.nav-bar {
    min-height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-count: 2;
    padding: 10px;
    width: 965px;
}

.portfolio-panel {
    display: grid;
    justify-content: center;
    align-items: flex-end;
}

.panel-image {
    max-width: 450px;
    max-height: 357px;
}

.panel-desc {
    max-width: 450px;
    padding-top: 0%;
}

.image-container {
    display: flex;
    justify-content: center;
}

.external-link-button {
    width: 85px;
    height: 85px;
    object-fit: cover;
    margin: 0 10px;
}

.button {
    background-color: #292929;
    border: none;
    color: orange;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    margin: auto;
    border-radius: 100px;
    font-family: "Arvo", sans-serif;
    margin-bottom: 16px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #333333;
    border: none;
    color: goldenrod;
    padding: 20px;
    text-align: center;
    text-decoration: underline;
    display: block;
    font-size: 20px;
    margin: auto;
    border-radius: 10px;
    font-family: "Arvo", sans-serif;
    margin-bottom: 16px;
    cursor: pointer;
}

.social-button {
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}