<hr>
<div class="footer">
    
    <h1>Contact Me!</h1>
    <p>Email: h.simpson01@outlook.com</p>

    <h3>External Links</h3>
    <p>
        <a class="social-button" href="https://www.linkedin.com/in/harry-simpson-3b3aa1204/"><img src="../img/linkedin_icon.png" alt="linkedin_icon"></a>
        <a class="social-button" href="https://github.com/SimpsonGames"><img src="../img/github_icon.png" alt="github_icon"></a>            
        <a class="social-button" href="https://simpsongames.itch.io"><img src="../img/itchio_icon.png" alt="itchio_icon"></a>
    </p>
    <p>Copyright © 2024 Harry Simpson</p>
</div>